<% include ./partials/header %>

    <div class="container">
      <div class="row" id="logged-out-row">
        <div class="col-xs-12">
          <h3>Successfully logged out.</h3>
          <p><i class="fa fa-star" aria-hidden="true"></i> Thank you for visiting!! <i class="fa fa-star" aria-hidden="true"></i></p>
        </div>
      </div>
    </div>

<% include ./partials/footer %>
